@import "../../../App.css";

.hero {
  display: grid;
  flex-wrap: wrap;
}

.title h1 {
  font-size: var(--h1mob);
  font-style: normal;
  font-weight: 500;
}

.mission {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mission p {
  font-size: var(--pmob);
  font-weight: 400;
}

.mission button {
  width: 100%;
  padding: 20px 35px 20px 35px;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 14px;
}

.illustation {
  padding: 0rem 1rem;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustation img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .illustation {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .title {
    max-width: 530px;
    display: flex;
    align-items: center;
  }
  .title h1 {
    font-size: var(--h1);
  }
  .mission {
    max-width: 530px;
  }
  .mission p {
    font-size: var(--p);
  }

  .mission button {
    max-width: 390px;
  }
}
